
.ipynb_checkpoints/main - Cyrus-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
.DS_Store
.DS_Store
.DS_Store
.ipynb_checkpoints/main - cyrus 2nd-checkpoint.ipynb
.DS_Store
